In [15]:
import pandas as pd
import gmaps
import requests
from config import g_key
import os

In [16]:
#load and read csv file
cities_data_df = os.path.join("weather_data/cities.csv")
cities_data_df=pd.read_csv("weather_data/cities.csv")
cities_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Blair,IN,9/27/2022 18:51,11.6667,92.7500,78.84,94,75,1.14
1,1,Ushuaia,AR,9/27/2022 18:51,-54.8000,-68.3000,53.22,66,40,40.29
2,2,Yar-Sale,RU,9/27/2022 18:51,66.8333,70.8333,28.72,80,97,10.02
3,3,Faya,SA,9/27/2022 18:51,18.3851,42.4509,70.32,28,1,6.26
4,4,Port Alfred,ZA,9/27/2022 18:51,-33.5906,26.8910,63.18,99,100,8.01

In [17]:
cities_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [18]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [19]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations =[cities_data_df["Lat"],cities_data_df["Lng"]] - not used because we want it in a dataFrame and not list
locations = cities_data_df[["Lat","Lng"]]

# 2. Assign the weights variable to some values.
max_temp = cities_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)